<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="youtubetestproject">
    <test name="Test">
        <parameter name="browser" value="${browser}"/>
        <classes>
            <class name="testcases.LogInTests"></class>
            <class name="testcases.ContactPhonesAndSchedulePopapTests"></class>
        </classes>
    </test>
</suite>